Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  portability-*,
  readability-*
  
# .clang-tidy configuration
HeaderFilterRegex: '^(?!.*stb_image\.h).*$'

ExtraArgsBefore:
  - -I./libs/graphics/include
